* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e7e7e7;
    padding-top: 50px;
}

header,.container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.formulario-cadastro label,button {
    display: block;
    font-size: 12px;
}

.formulario-cadastro input {
    margin-bottom: 10px;
}


button {
    background-color: rgb(172, 123, 218);
    border-radius: 25px;
    height: 20px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(33, 8, 56);;
    color: white;
  }